#tim.index .pusher > .page {
  background-color: #FFFFFF;
}

@media only screen and (max-width: 992px) {
  html {
    overflow-x: visible;
    -webkit-overflow-scrolling: auto;
  }
}

#tim > .pusher {
  display: block;
  flex-direction: initial;
}

#tim > .pusher > .full.height {
  flex: none !important;
}

#tim.index .vertical.segment {
    box-shadow: none;
}

#tim .stripe {
    padding: 10em 0px;
    border-radius: 0em;
    margin: 0em;
}

#tim .alternate.stripe {
    background-color: #F2F3F5;
}

/*
 * MASTHEAD
 */

body#tim {
  background: #2C2C2C !important;
}

#tim.index .masthead {
  position: relative;
  overflow: hidden;
  text-align: center;
}

#tim.index.pushed .masthead {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*
 * FOLLOWING BAR
 */

#tim.index.pushed .following.bar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#tim.index .fixed.following.bar {
  background-image: none;
}

#tim.index .fixed.following.bar {
  position: fixed;
  top: 0px;
  padding: 1em 0em;
  background-color: #FFFFFF;
}

#tim.index .fixed.light.following.bar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}

#tim.index .following.bar {
  position: absolute;
  top: 0px;
  z-index: 900;
  left: 0%;
  padding: 2em 0em;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  /*border-bottom: 1px solid transparent;*/
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.4) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.4)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.4) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.4) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#66000000',GradientType=0 );
  transition:
    padding 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease,
    border 0.5s ease
  ;
}

#tim.index .following.bar > .menu .item {
  transition: all 0.5s ease;
}

#tim.index.pushed .following.bar .menu .item,
#tim.index.pushed .following.bar {
  transition: none;
}

#tim.index .following.bar .additional.item {
  display: none;
}

#tim.index .following.bar .column > .menu {
  margin-top: 0px;
  height: 35px;
  font-weight: bold;
}

#tim.index .following .logo {
  float: left;
  width: 250px;
  margin-right: 1em;
}

#tim.index .following .logo a {
  font-family: 'Dancing Script', cursive, Georgia, Times, serif;
  font-weight: bold;
  line-height: 40px;
  font-size: 40px;
  color: white;
}

#tim.index .following.fixed .logo a {
  color: #49B4E0; 
}

/*
 * Stripes
 */

#tim.index .about.stripe {
    border-top: 1px solid #DDDDDD;
    padding: 4em 0em 4em 0em;
}

#tim.index .testinomials.stripe {
    border-top: 1px solid #DDDDDD;
    padding: 2em 0em 2em 0em;
}

#tim.index .inspiration.stripe {
    border-top: 1px solid #DDDDDD;
    padding: 4em 0em 4em 0em;
}

#tim.index .latest.stripe {
    border-top: 1px solid #DDDDDD;
    padding: 4em 0em 4em 0em;
}

#tim.index .email.stripe {
    border-top: 1px solid #DDDDDD;
    padding: 2em 0em;
}

#tim.index .ui.header {
    font-weight: normal;
}

#tim .stripe h3 {
    font-size: 20px;
}

#tim.index .email.stripe .input {
    width: 450px;
}

@media only screen and (max-width : 600px) {
      
    #tim.index .following.bar {
        display: none;
    }
  
    #tim.index .following.bar .column {
        text-align: center;
    }
  
    #tim.index .following .logo {
        float: none;
    }

    #tim.index .email.stripe .input {
      width: 350px;
    }
}

@media only screen and (max-width : 810px) {
  #tim.index .container {
    margin-left: 2em;
    margin-right: 2em;
  }

  #tim.index .email.stripe .input {
    width: 400px;
  }
}

@media only screen and (max-width : 350px) {
  #tim.index .email.stripe .input {
    width: 150px;
  }
}

/* SLIDES
*/

#slides .designOne {
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.1) 90%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.1) 90%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.1) 90%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.1) 90%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.padding-top-ten {
  padding-top: 10%;
}

.padding-top-twenty {
  padding-top: 20%;  
}

.padding-top-thirty {
  padding-top: 30%;  
}

.padding-top-forty {
  padding-top: 40%;  
}

.padding-top-fifty {
  padding-top: 50%;  
}

.padding-top-sixty {
  padding-top: 60%;  
}

.padding-top-seventy {
  padding-top: 70%;  
}

/*
 * Sections
 */
#tim.index .stripe h1 {
  font-family: 'Dancing Script', cursive, Georgia, Times, serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 38px;
}

#tim.index .stripe h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 23px;
  line-height: 25px;
}

#tim.index .stripe p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

#tim.index .about p, #tim.index .testinomials p {
  color: #827a7a;
}

#tim.index .testinomials p {
  font-size: 16px; 
  line-height: 20px;
}

#tim.index .inspiration .quotation {
  font-family: 'Dancing Script', cursive, Georgia, Times, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

#tim.index .inspiration .author {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 22px;
}